#
# picotm - A system-level transaction manager
# Copyright (c) 2017-2018   Thomas Zimmermann
# Copyright (c) 2020        Thomas Zimmermann
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
# SPDX-License-Identifier: GPL-3.0-or-later
#

dist: bionic

language: c

matrix:
  include:

    # GCC 7 (Ubuntu default)
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-7
      env:
        - MATRIX_EVAL="CC=gcc-7"

    # GCC 8
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-8
      env:
        - MATRIX_EVAL="CC=gcc-8"

    # GCC 9
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-9
      env:
        - MATRIX_EVAL="CC=gcc-9"

    # GCC 10
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-10
      env:
        - MATRIX_EVAL="CC=gcc-10"

    # clang 6.0 (Ubuntu default)
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-bionic-6.0
          packages:
            - clang-6.0
      env:
        - MATRIX_EVAL="CC=clang"

    # clang 8.0
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-bionic-8.0
          packages:
            - clang-8
      env:
        - MATRIX_EVAL="CC=clang-8"

    # clang 9.0
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-bionic-9.0
          packages:
            - clang-9
      env:
        - MATRIX_EVAL="CC=clang-9"

    # clang 10.0
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-bionic-10.0
          packages:
            - clang-10
      env:
        - MATRIX_EVAL="CC=clang-10"

install:
    - sudo apt-get install -y autoconf-archive doxygen graphviz optipng valgrind

before_script:
    - eval "${MATRIX_EVAL}"

script:
    - ( tools/bootstrap.sh &&
        ./configure &&
        make &&
        make html &&
        ( [ -n "${SKIP_MAKE_CHECK}" ] || ( make -j1 check ) ) )
